<div class="post-nav-buttons">

  <p>
    {% if page.previous != nil %}
      <a href="{{ page.previous.url }}" class="btn no-bold navButton"><span class="icon nav-btn-icon-left">{% include icon-arrow-left.svg %}</span> Previous: <i>"{{ page.previous.title | truncate: 25 }}"</i></a>
    {% endif %}
    {% if page.next != nil %}
      <a href="{{ page.next.url }}" class="btn no-bold navButton">Next: <i>"{{ page.next.title | truncate: 29 }}"</i> <span class="icon nav-btn-icon-right">{% include icon-arrow-right.svg %}</span></a>
    {% endif %}
  </p>
</div>
