<div class="share sticky-top sticky-top-offset">
    <p>
        Share
    </p>
    <ul>
        <!-- Existing share options -->
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>

       <!-- Mastodon share option -->
       <li class="ml-1 mr-1">
        <a target="_blank" href="#" data-src="{{ page.title }}&url={{ page.url | absolute_url }}" onclick="MastodonShare(event); return false;">
            <i class="fab fa-mastodon"></i>
        </a>
    </li>

</ul>
{% if page.comments != false %}
<div class="sep">
</div>
<ul>
    <li>
    <a class="small smoothscroll" href="#disqus_thread"></a>
    </li>
</ul>
{% endif %}
</div>

<script>
/* Generate a share link for the user's Mastodon domain */
function MastodonShare(e){

// Gather the source text and URL from the page
let src = encodeURIComponent(document.title + " " + window.location.href);

// Gather the Mastodon domain
let domain = prompt("Enter your Mastodon domain", "mastodon.social");

if (domain === "" || domain === null){
    return;
}

// Build the URL
let url = "https://" + domain + "/share?text=" + src;

// Open a window on the share page
window.open(url, '_blank');
}

</script>